{% extends "base.html" %}

{% block title %}
Thermos - Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>This is a simple social bookmarking site.  We are using this project to play with Flask.</p>
        </header>
        <section>
            <h2>Article section h2</h2>
            <p>Open know age use whom him than lady was. On lasted uneasy exeter my itself effect spirit. At design he vanity at cousin longer looked ye. Design praise me father an favour. As greatly replied it windows of an minuter behaved passage. Diminution expression reasonable it we he projection acceptance in devonshire. Perpetual it described at he applauded.</p>
        </section>
        <section>
            <h2>Article section h2</h2>
            <p>Resolution possession discovered surrounded advantages has but few add. Yet walls times spoil put. Be it reserved contempt rendered smallest. Studied to passage it mention calling believe an. Get ten horrible remember pleasure two vicinity. Far estimable extremely middleton his concealed perceived principle. Any nay pleasure entrance prepared her. </p>
        </section>


    </article>
{% endblock %}