* {
    margin: 0px;
    padding: 0px;
}

html, body {
    max-height: 100%;
    margin: 0px auto;
    background: #ffffff;
}

.content-wrapper {
    max-width: 960px;
    max-height: auto;
    background-color: #ffffff;
    margin: 0px auto;
    padding: 10px;
}

.register_login_section {
    display: flex;
    justify-content: space-around;
}

h1 {
    border-bottom: solid;
    border-bottom-color: #F6F6F6;
}

h3 {

}

.red {
    color: #E65372;
}

.header {
    text-align: center;
}

.footer {
    margin-top: 55px;
 	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: smaller;
    font-style: italic;
    border-top: solid;
    border-top-color: #F6F6F6;
    text-align: center;
}

.button {
    display: block;
    margin-top: 15px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #000000;
    width: 70px;
    font-size: small;
    background-color: #E65372;
    color: whitesmoke;
}

label, input {
    display: block;
}

h2 {
    margin-bottom: 25px;
}

/* Classes to use with Django messaging tags
   For more on messaging tags visit https://docs.djangoproject.com/en/1.11/ref/contrib/messages/
*/
.error {
    color: red;
}

.success .info {
    color: green;
}

.warning {
    color: yellow;
}