<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Session Words</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load static %}
  <link rel="stylesheet" href="../../static/session_words/css/normalize.css">
  <link rel="stylesheet" href="../../static/session_words/css/skeleton.css">
  <link rel="stylesheet" href="../../static/session_words/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column column-border" style="margin-top: 15%" >

        <form action="/session_words/add_word" method="post">
          {% csrf_token %}
          <label for="add_new_word">Add a new word:</label>
          <input type="text" name="new_word">
          <h7>Choose color</h7>

          <div class="inline">
            <input type="radio" id="red" name="font_color" value="red"> Red <br>
			<input type="radio" id="green" name="font_color" value="green"> Green <br>
		    <input type="radio" id="blue" name="font_color" value="blue"> Blue <br>
            <input type="checkbox" name="big_font"> Show BIG fonts! <br>
          </div>
          <input type="submit" name="add_to_session_button" value="Add to Session">
        </form>

      </div>
      <div class="one-half column" style="margin-top: 15%">

        <form action="/session_words/clear" method="post">
            {% csrf_token %}
            <input type='submit' name="clear_session" value="Clear Session">
        </form>

        <div>
          {% if request.session %}

              {% if request.session.big_font %}

              <p> <span style="color:{{ request.session.color }}" class="{{ request.session.big_font }}">{{ request.session.word }}</span> {{ request.session.display_string }} </p>
              {% endif %}

              {% if not request.session.big_font %}
              <p><span style="color:{{ request.session.color }}" class="inline-block"> {{ request.session.word }}</span> {{ request.session.display_string }} </p>
              {% endif %}

          {% endif %}
        </div>

      </div>

    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>


