<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href='css/style_sheet.css'">
     <title>Awesome Page</title>

</head>
<body>
    <h1></h1>
    <form action='/process' method='post'>
        Your Name: <input type='text' name='name'>
        <input type='submit' value='create user'>
    </form>
</body>
</html>
