<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ninja Money</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href='../static/css/styles.css'>
</head>
<div>
    <div class="content-wrapper">
        <p id="gold-text">Total Gold:</p>
        <p class="gold-count"> {{ total }} </p>

        <div class="games-wrapper">
            <div class="game-box">
                <h3>Farm</h3>
                <p>(earns 10-20 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" value="Find Gold!" class="gold-button"/>
                </form>
            </div>


            <div class="game-box">
                <h3>Cave</h3>
                <p>(earns 5-10 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" value="Find Gold!" class="gold-button"/>
                </form>
            </div>

            <div class="game-box">
                <h3>House</h3>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" value="Find Gold!" class="gold-button"/>
                </form>
            </div>

            <div class="game-box">
                <h3>Cave</h3>
                <p>(earns 0-50 golds)</p>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" value="Find Gold!" class="gold-button"/>
                </form>
            </div>
		</div>

        <p id="activity-text">Activities:</p>
        <div class="scroll">

            {% if activity_log %}
            <ul>
                {% for data in activity_log %}
                <!--ToDo This is changing the color for the whole box vs just the recently added line. Fix it!-->
	                <li class="{{activity}}">{{ data }}</li>
				{% endfor %}
            </ul>
            {% endif %}

        </div>

        <form action="/reset" method="post">
             <input type="submit" value="Reset" class="gold-button"/>
        </form>

    </div>
</body>
</html>
