<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ninja Turtles</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href='../static/css/styles.css'/>
</head>
<body>
    <div class="content-wrapper">
        <h2>Teenage Mutant Ninjas</h2>
        <div>
            <img src="../static/imgs/donatello.jpg" class="imgs-attrs" alt="donatello.jpg" width="318", height="324">
            <img src="../static/imgs/leonardo.jpg" class="imgs-attrs" alt="leonardo.jpg" width="318", height="324">
            <img src="../static/imgs/michelangelo.jpg" class="imgs-attrs" alt="michelangelo.jpg" width="318", height="324">
            <img src="../static/imgs/raphael.jpg" class="imgs-attrs" alt="raphael.png" width="318", height="324">
        </div>
    </div>
</body>
</html>
