<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ninja Turtles</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../static/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href='../static/css/styles.css'>
</head>
<body>
    <div class="content-wrapper solo-img">
        <img src="../static/imgs/leonardo.jpg" class="imgs-attrs" alt="leonardo.jpg" >
    </div>
</body>
</html>
