<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Title</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href='css/style_sheet.css'>
</head>
<body>
    <div class="content-wrapper">
        <div class="input-block">
            First name:<input type='text' id="fname" value="First Name" onfocus="if (this.value=='First Name') this.value=''" placeholder="First Name">
        </div>
        <div class="input-block">
            Last name:<input type='text' id="lname" value="Last Name" onfocus="if (this.value=='Last Name') this.value=''" placeholder="Last Name">
        </div>
        <div class="input-block">
            Email Address:<input type="email" id="email" value="Email Address" onfocus="if (this.value=='Email Address') this.value=''" placeholder="Email Address">
        </div>
        <div class="input-block">
            Password:<input type="password" id="phone" value="Phone Number" onfocus="if (this.value=='Phone Number') this.value=''" placeholder="Phone Number">
        </div>
    </div>
</body>
</html>
